@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background */
    --background: 0, 0%, 100%;
    --bg-alt: 223, 64%, 98%;
    --bg-badge: 220, 13%, 13%;
    --bg-lightbox: 0, 0%, 0%, 0.75;

    /* Font */
    --txt-body: 219, 9%, 45%;
    --txt-heading: 220, 13%, 13%;
    --txt-badge: 0, 0%, 100%;

    /* SVG */
    --svg-alt: 0, 0%, 100%;
    --svg-active: 220, 13%, 13%;

    /* Border */
    --border: 0, 0%, 0%, 0.1;

    /* Filter */
    --thumbnail-active: 0, 0%, 100%, 0.75;
    --thumbnail-hover: 0, 0%, 100%, 0.5;

    /* Others */
    --accent: 26, 100%, 55%;
    --accent-hover: 26, 100%, 71%;
  }

  html {
    @apply text-base;
  }

  body {
    @apply flex flex-col items-center font-Kumbh-sans text-[.9375rem]/[1.5625rem] text-body lg:text-base/[1.625rem];
  }

  h1 {
    @apply text-[1.75rem]/[2rem] font-bold text-heading lg:text-[2.75rem]/[3rem];
  }

  h2 {
    @apply text-xs font-bold uppercase tracking-[0.15em] text-body lg:text-[.8125rem];
  }

  img {
    @apply text-base;
  }

  div#root {
    @apply max-w-[69.375rem] lg:mx-desktop;
  }
}
